@model CollageSystem.Core.User

@{
    /**/

    ViewBag.Title = "Edit";
}

<h2>تعديل الدكتور</h2>


@using (Ajax.BeginForm("Edit", "Instroctor", new AjaxOptions()
{
    HttpMethod = "Post",
    OnFailure = "OnFailureIns()",
    OnSuccess = "OnSuccessIns()",
    LoadingElementId = "progress"


}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <table class="table table-condensed table-bordered" dir="rtl">
        <tr>
            <td>
                كود الدكتور
            </td>
            <td>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                الرقم القومى
            </td>
            <td>
                @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                الاسم الأول
            </td>
            <td>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                الاسم الاخير
            </td>
            <td>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                البريد الالكترونى
            </td>
            <td>
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                رقم المحمول
            </td>
            <td>
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </td>
        </tr>
        @*<tr>
                <td>
                    الصوره
                </td>
                <td>
                    @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </td>
            </tr>*@
        <tr>
            <td>
                القسم
            </td>
            <td>
                @Html.DropDownList("DepartmentID", null, "-- اختر --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("الرجوع الى قائمه الدكاتره", "Index", null, new { @class = "btn btn-info" })

            </td>
            <td>
                <input type="submit" value="حفظ" class="btn btn-success" />

            </td>
        </tr>
    </table>
}

<div id="progress" class="loader">
    <img src="~/images/gifProgress.gif" style="width:60px ; margin-top: 25%; margin-right: 46%;" />
</div>